# Test if rewrite engine is working
RewriteEngine On

# Original rules for homepage
RewriteRule ^$ general.php [L]
RewriteRule ^/$ general.php [L]

RewriteRule ^login$ login.php [L]
RewriteRule ^login/$ login.php [L]

RewriteRule ^register$ register.php [L]
RewriteRule ^register/$ register.php [L]

RewriteRule ^booking$ booking.php [L]
RewriteRule ^booking/$ booking.php [L]